#main_container{
	position: absolute;
	height: 100%;
	width:  100%;
	left: 0;
	right: 0;
	z-index: 1;
	overflow: hidden;
	font-family: "Open Sans", "Ariel", "sans-serif";
}

.border{
	margin: 15px;
	height: calc(100% - 30px);
	border: 4px solid #990606;
}

.home-content-box{
	overflow-y: scroll;
	top: calc(30px + 1em);
	right: calc(30px + 1em);
	height: calc(100% - 30px - 4em);
/*	display: inline-flex;*/
	width: calc(100% - 30px - 4em);
	position: absolute;
	z-index: 0;
}

.information-content-box{
	position: absolute;
	overflow: scroll;
	right: calc(30px + 1em);
	margin-top: 130px;
	height :calc(100% - 130px - 4em);
	width: calc(100% - 30px - 4em);
/*	background-color: blue!important;*/
}

.information-content-box{
	padding-top: 40px;
}

.home-content-box{
	background: #990606;
}

.information-content-box{
	background: white;
	box-shadow: 0;
}

.information-content-box.active{
	overflow-y: scroll;
}

.home-content-box.active{
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.home-content-box.active,
.information-content-box.active {
	/*display: block;*/
	visibility: visible;
	z-index: 2;
}

.center-text{
	height: 200px;
	width: 350px;
	color: white;
	position: relative;
	margin: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-the-buttons h5{
/*	padding-top: 10px;*/
	text-align: center;
	font-size: 1.7em;
	font-weight: 300;
/*	font-style: italic;*/
	text-align: center;
	color: white;
	padding-bottom: 15px;
	font-style: italic;
	font-family: "Playfair Display", "Times New Roman", "serif";
	font-weight: 400;
	/*font-family: "Open Sans";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;*/
}

.center-the-buttons{
	position: relative;
	width: 700px;
	height: 50px;
	margin: auto;
	top: 35%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

/*.center-buttons{
	position: relative;
	width: 100%;
	height: 50px;
}
*/
.home-button{
	width: 49%;
	height: 100%;
	color: white;
	display: inline-table;
}

.home-button a.download-btn{
	width: 100%;
	height: 100%;
	display: table-cell;
	/*padding: 20px 30%;*/
	vertical-align: middle;
	border: 1px solid white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}
.home-button a.download-btn:hover{
	background-color: white;
	color: #990606;
	text-decoration: none!important;
}


.center-text h1{
	font-family: "Playfair Display", "Times New Roman", "serif";
	font-size: 6em;
}

.right-align{
	text-align: right;
}

.center-text h3{
	font-family: "Playfair Display", "Times New Roman", "serif";
	font-size: 2em;
	display: inline;
	vertical-align: middle
}

.center-text h2.jain{
	font-family: "Open Sans", "Ariel", "sans-serif";
	font-weight: 700;
	font-size: 4em;
	display: inline;
	vertical-align: middle
}

.scroll-direction{
/*	background: white;*/
	height: 75px;
	width: 100px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	text-align: center;
}

.scroll-direction h5{
	font-family: "Open Sans", "Ariel", "sans-serif";
	font-weight: 700;
	color: white;
}
.scroll-direction i{
	color: white;
	margin-top: -5px;
}
.scroll-direction:hover i,
.scroll-direction:hover h5{
	font-size: 1.5em;
}

.information-content-box h4{
/*	margin-top: 3em;
*/	text-align: center;
	font-family: "Playfair Display", "Times New Roman", "serif";
	font-size: 2em;
}

/*.information-content-box .description{
	margin-top: 40px;
}
*/
.information-content-box p{
	font-family: "Open Sans", "Ariel", "sans-serif";
	font-size: 1.3em;
	font-weight: 300;
	line-height: 2em;
}


.ebook-description{
	margin-top: 1em;
}

.button-container{
	margin-top: 60px;
	height: 60px;
	display: table;
}


.information-content-box a.download_btn{
	width: 100%;
	display: table-cell;
	/*padding: 20px 30%;*/
	vertical-align: middle;
	border: 2px solid #990606;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: black;
}
.download_btn.in_book{
	display: inline-block!important;
	width: 20vh!important;
	padding: 4vh;
	top: 14vh!important;
	position: relative;
	left: 3vh;
}

.information-content-box a.download_btn:hover{
	color: white;
	background-color:  #990606;
	text-decoration: none!important;
}




/* ------------ */

/* Override Bootstrap Tab Settings */

.navigation{
	z-index: 100;
	position: absolute;
	top: calc(30px + 1em);
	right: calc(30px + 1em);
	width: calc(100% - 30px - 4em);
	padding: 0px 3em;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus{
    color: none;
    border: none!important;
}


.menu .nav-tabs{
    border-bottom: 1px solid #990606;
    margin-bottom: 20px;
}

.menu  .nav-tabs.grey{
    background-color: white;
}


.menu  .nav-tabs > li {
    width: 19%;
    text-align: center;
}
.menu .nav-tabs > li.home{
	width: 20px;
}

.menu  .nav-tabs > li:hover {
    /*background-color: ;*/
}

.menu  .nav-tabs > li > a{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px!important;
    background-color: transparent!important;
    width: 100%;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .05em;
/*  background-color: blue;*/
}

.menu  .nav-tabs > li > a:hover{
    border: none!important;
}


.navigation nav.menu  li:last-child::before {
    position: absolute;
    bottom: -1px;
    /*bottom: -15px;*/
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    /*background: #2CC185;*/
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    z-index: 1;
}

.corner-ribbon{
  width: 200px;
  background: #e43;
 /* border: 4px red solid;*/
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: 2px solid red;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  /*color: #f0f0f0;*/
  color: red;
  background-color: white;
  z-index: 1000;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.bottom-right{
  top: auto;
  right: -50px;
  bottom: 25px;
  left: auto;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*.corner-ribbon.green{background: #2c7;}*/


/* Move the line */
/*.navigation nav.menu li:first-child.active ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.navigation nav.menu li:nth-child(2).active ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.navigation nav.menu li:nth-child(3).active ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.navigation nav.menu li:nth-child(4).active ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.navigation nav.menu li:nth-child(5).active ~ li:last-child::before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}*/

.navigation nav.menu li:nth-child(2).active ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.navigation nav.menu li:nth-child(3).active ~ li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.navigation nav.menu li:nth-child(4).active ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.navigation nav.menu li:nth-child(5).active ~ li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.navigation nav.menu li:nth-child(6).active ~ li:last-child::before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}







/*.navigation nav.menu li:first-child:hover ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.navigation nav.menu li:nth-child(2):hover ~  li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.navigation nav.menu li:nth-child(3):hover ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.navigation nav.menu li:nth-child(4):hover ~  li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.navigation nav.menu li.active ~ li:last-child:hover::before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}*/

.navigation nav.menu li:nth-child(2):hover ~ li:last-child::before {
    -webkit-transform: translate3d(-400%,0,0);
    transform: translate3d(-400%,0,0);
}

.navigation nav.menu li:nth-child(3):hover ~  li:last-child::before {
    -webkit-transform: translate3d(-300%,0,0);
    transform: translate3d(-300%,0,0);
}

.navigation nav.menu li:nth-child(4):hover ~ li:last-child::before {
    -webkit-transform: translate3d(-200%,0,0);
    transform: translate3d(-200%,0,0);
}

.navigation nav.menu li:nth-child(5):hover ~  li:last-child::before {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.navigation nav.menu li.active ~ li:last-child:hover::before {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}



.navigation nav.menu a {
    padding: 1em 0;
    color: white;
    line-height: 1;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s; 
    transition: color 0.3s, transform 0.3s;
}

.navigation nav.menu li.active a {
    color: white;
    /*color: #2CC185;*/
    /*webkit-transform: translate3d(0,2px,0);
    transform: translate3d(0,2px,0);*/
}

/* ----------- */


.navigation.on-white nav.menu a {
	color: #990606!important;
}


.navigation.on-white nav.menu  li:last-child::before {
	background-color: #990606;
}

.navigation.on-white nav.menu li.active a {
    color: #990606;
    /*color: #2CC185;*/
    /*webkit-transform: translate3d(0,2px,0);
    transform: translate3d(0,2px,0);*/
}
.center-img{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.center-img img{
	/*height: 100px;*/
	width: 100%;
}

.dedication{
	width: 80%;
	margin: auto;
}

.food-watch-list{
	width: 80%;
	margin: auto;
}

.food-watch-list h4{
	font-size: 18px;
}

.food-watch-list hr{
	margin-bottom: 15px;
}

.left-list{
	float: left;
	width: 45%;
}

.right-list{
	float: right;
	width: 45%;
}

.download_ebook_hidden_link{
	display: none!important;
}


/* *********** */


/* *********** colors and fonts when not on home page */

.slide-moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.slide-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

.slide-moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}

.slide-moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-120%); }
}
@keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-120%); transform: translateY(-120%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}
@keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

